<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if(user) { %>
      <p>Hello <%= user.profile.displayName %></p>
      <img src="<%= user.profile.photos[0].value %>" alt="" />
      <p>
        <a href="/auth/logout">Logout</a>
      </p>
      <% } else { %>
        <a href="/auth/linkedin">Login</a>
    <% } %>



  </body>
</html>
